#root-view {
  .host {
    padding-left: calc(80px + 10px);
    transition: all 0.3s ease-in-out;
  }

  &.shown {
    .host {
      padding-left: calc(200px);
      transition: all 0.3s ease-in-out;
    }
  }
}
